@import url(fix.css);
/* line 3, /var/www/html/soixantehuit/sass/68.sass */
body {
  font-family: 'Work Sans', sans-serif;
  color: black;
  width: 100vw;
  overflow-x: hidden; }

/* line 9, /var/www/html/soixantehuit/sass/68.sass */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

/* line 13, /var/www/html/soixantehuit/sass/68.sass */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); }

/* line 16, /var/www/html/soixantehuit/sass/68.sass */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); }

/* line 19, /var/www/html/soixantehuit/sass/68.sass */
.center {
  text-align: center; }

/* line 22, /var/www/html/soixantehuit/sass/68.sass */
.centerblock {
  margin: auto;
  display: block; }

/* line 26, /var/www/html/soixantehuit/sass/68.sass */
.bloc {
  min-height: 100vh; }

/* line 29, /var/www/html/soixantehuit/sass/68.sass */
.btn-blank {
  background: none;
  padding: 0;
  border: 0; }
  /* line 33, /var/www/html/soixantehuit/sass/68.sass */
  .btn-blank:focus {
    background: none;
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border-radius: 3px; }

/* line 38, /var/www/html/soixantehuit/sass/68.sass */
.right {
  width: 100%;
  text-align: right; }

/* line 44, /var/www/html/soixantehuit/sass/68.sass */
header {
  position: fixed;
  top: 4%;
  right: 4%;
  z-index: 100; }
  /* line 49, /var/www/html/soixantehuit/sass/68.sass */
  header .btn {
    position: relative;
    padding: 0 1px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    border-radius: 0;
    border-bottom: dotted 1px black; }
    /* line 57, /var/www/html/soixantehuit/sass/68.sass */
    header .btn .header-background {
      background: rgba(26, 26, 26, 0.1);
      width: 100%;
      height: 20px;
      position: absolute;
      z-index: -1;
      top: 12px;
      right: 6px; }

@media (max-width: 850px) {
  /* line 67, /var/www/html/soixantehuit/sass/68.sass */
  header {
    top: 2%;
    right: 2%; }
    /* line 70, /var/www/html/soixantehuit/sass/68.sass */
    header .btn {
      font-size: 15px; } }

/* line 75, /var/www/html/soixantehuit/sass/68.sass */
.edito {
  width: 90%;
  margin: 20vh auto 100px;
  padding: 40px;
  background: rgba(26, 26, 26, 0.1);
  font-weight: 500;
  z-index: 100; }
  /* line 82, /var/www/html/soixantehuit/sass/68.sass */
  .edito h1 {
    margin: 50px 0;
    font-size: 100px;
    font-weight: 700; }
  /* line 86, /var/www/html/soixantehuit/sass/68.sass */
  .edito .langues {
    margin: 60px auto 0; }
  /* line 88, /var/www/html/soixantehuit/sass/68.sass */
  .edito a {
    color: black;
    font-size: 120%;
    margin: 10px;
    cursor: pointer; }

/* line 94, /var/www/html/soixantehuit/sass/68.sass */
.scroll {
  cursor: pointer; }
  /* line 96, /var/www/html/soixantehuit/sass/68.sass */
  .scroll:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  /* line 99, /var/www/html/soixantehuit/sass/68.sass */
  .scroll .glyphicon {
    font-size: 50px; }

/* line 104, /var/www/html/soixantehuit/sass/68.sass */
.carte, .modules {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }
  /* line 115, /var/www/html/soixantehuit/sass/68.sass */
  .carte .vertical, .modules .vertical {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    /* line 119, /var/www/html/soixantehuit/sass/68.sass */
    .carte .vertical .container, .modules .vertical .container {
      position: relative;
      top: -100vh; }
  /* line 122, /var/www/html/soixantehuit/sass/68.sass */
  .carte svg, .modules svg {
    margin: auto;
    max-height: 100vh;
    transition: opacity 1000ms ease-in-out; }

/* line 127, /var/www/html/soixantehuit/sass/68.sass */
.carte-label {
  margin: auto;
  width: 75%;
  max-width: 114vh;
  height: 62vw;
  max-height: 100vh;
  opacity: 0.6;
  position: relative; }

/* line 135, /var/www/html/soixantehuit/sass/68.sass */
.carte-lieu {
  position: absolute;
  font-size: 23px;
  width: 150px;
  z-index: 20;
  text-align: left; }

/* line 141, /var/www/html/soixantehuit/sass/68.sass */
.carte-nanterre {
  top: 8%;
  left: 16%; }

/* line 144, /var/www/html/soixantehuit/sass/68.sass */
.carte-amandiers {
  top: 35%;
  left: 0%; }

/* line 147, /var/www/html/soixantehuit/sass/68.sass */
.carte-archi {
  top: 40%;
  left: 17%; }

/* line 150, /var/www/html/soixantehuit/sass/68.sass */
.carte-beauxarts {
  left: 40%;
  bottom: 40%; }

/* line 153, /var/www/html/soixantehuit/sass/68.sass */
.carte-pompidou {
  left: 53%;
  top: 40%; }

/* line 156, /var/www/html/soixantehuit/sass/68.sass */
.carte-archives {
  top: 38%;
  left: 73%; }

/* line 159, /var/www/html/soixantehuit/sass/68.sass */
.carte-bnf {
  left: 60%;
  bottom: 15%; }

/* line 162, /var/www/html/soixantehuit/sass/68.sass */
.carte-cinematheque {
  left: 80%;
  bottom: 26%; }

@media (max-width: 1470px) {
  /* line 166, /var/www/html/soixantehuit/sass/68.sass */
  .carte-lieu {
    font-size: 1.5vw; } }

/* line 169, /var/www/html/soixantehuit/sass/68.sass */
.modules-click {
  z-index: 10; }
  /* line 171, /var/www/html/soixantehuit/sass/68.sass */
  .modules-click .module {
    fill: transparent; }

/* line 177, /var/www/html/soixantehuit/sass/68.sass */
.info-container {
  position: absolute;
  width: 100%;
  z-index: 101;
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw);
  background: white; }
  /* line 186, /var/www/html/soixantehuit/sass/68.sass */
  .info-container .close-info {
    font-size: 65px;
    margin: 40px 30px; }
  /* line 189, /var/www/html/soixantehuit/sass/68.sass */
  .info-container .info-sidebar {
    min-height: 100vh; }
    /* line 191, /var/www/html/soixantehuit/sass/68.sass */
    .info-container .info-sidebar .info-lieu {
      display: block;
      position: absolute;
      left: 12vw;
      bottom: -4vh;
      width: 80vh;
      font-size: 80px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      transform-origin: left;
      line-height: 7.3vw; }
  /* line 205, /var/www/html/soixantehuit/sass/68.sass */
  .info-container .info-midbar {
    min-height: 100vh;
    border-left: 3px dotted;
    margin: -2px; }
    /* line 209, /var/www/html/soixantehuit/sass/68.sass */
    .info-container .info-midbar .info-presentation {
      font-size: 24px;
      font-weight: 300;
      margin: 2vw auto;
      height: 30vh; }
    /* line 214, /var/www/html/soixantehuit/sass/68.sass */
    .info-container .info-midbar .info-description {
      font-size: 15px;
      font-weight: 500; }
      /* line 217, /var/www/html/soixantehuit/sass/68.sass */
      .info-container .info-midbar .info-description img {
        width: 60%;
        position: absolute;
        bottom: 5%;
        right: 10px; }
  /* line 222, /var/www/html/soixantehuit/sass/68.sass */
  .info-container .info-programme {
    font-size: 24px;
    font-weight: 300;
    margin: 2vw; }
    /* line 226, /var/www/html/soixantehuit/sass/68.sass */
    .info-container .info-programme .info-programmefond {
      width: 155px;
      height: 25px;
      position: relative;
      bottom: 16px;
      right: 9px;
      z-index: -1; }
  /* line 233, /var/www/html/soixantehuit/sass/68.sass */
  .info-container .info-goagenda {
    font-size: 24px;
    font-weight: 300;
    position: absolute;
    bottom: 5%;
    right: 10%; }

/* line 240, /var/www/html/soixantehuit/sass/68.sass */
.info-open {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none; }

/* line 245, /var/www/html/soixantehuit/sass/68.sass */
.info-transition {
  transition: all 500ms ease-in-out; }

/* line 250, /var/www/html/soixantehuit/sass/68.sass */
#agenda {
  background: white; }

/* line 252, /var/www/html/soixantehuit/sass/68.sass */
.agenda-header {
  height: 200px;
  text-align: left; }
  /* line 255, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header h1 {
    display: inline-block;
    width: 35%;
    font-size: 70px;
    font-weight: 600;
    margin: 80px 4% 0; }
  /* line 261, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header .agenda-filtres {
    display: inline-block;
    float: right;
    margin: 120px 5% 0 0;
    font-size: 19.5px; }
    /* line 266, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header .agenda-filtres button {
      font-size: inherit;
      padding: 0 7px;
      vertical-align: bottom; }
      /* line 270, /var/www/html/soixantehuit/sass/68.sass */
      .agenda-header .agenda-filtres button:focus {
        -webkit-box-shadow: 0 0 1px;
        box-shadow: 0 0 1px; }
      /* line 273, /var/www/html/soixantehuit/sass/68.sass */
      .agenda-header .agenda-filtres button .glyphicon {
        font-size: 15px; }
  /* line 275, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header .popover, .agenda-header .popover-content {
    padding: 0;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    -webkit-box-shadow: 0 5px 20px 1px black;
    box-shadow: 0 5px 20px 1px black; }
    /* line 282, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header .popover .list-group, .agenda-header .popover-content .list-group {
      margin: 0; }
    /* line 284, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header .popover .list-group-item, .agenda-header .popover-content .list-group-item {
      border: 0;
      padding: 7px 15px;
      font-weight: 500;
      font-size: 17px;
      cursor: pointer; }
    /* line 290, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header .popover .list-categorie li, .agenda-header .popover-content .list-categorie li {
      background: black;
      color: white; }
  /* line 293, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header .search {
    height: 30px;
    color: white;
    display: inline-block; }
    /* line 297, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header .search .glyphicon {
      padding: 5px; }
  /* line 299, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header .search-lieu {
    width: 90px;
    margin: 5px 0 0 75px; }
  /* line 302, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header .search-date {
    width: 85px;
    color: white; }
  /* line 305, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header .search-categorie {
    width: 125px;
    color: white; }

/* line 310, /var/www/html/soixantehuit/sass/68.sass */
.hide-lieu {
  display: none !important; }

@media (max-width: 850px) {
  /* line 314, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header {
    height: 160px; }
    /* line 316, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header .agenda-filtres {
      font-size: 15px;
      margin-top: 85px; }
    /* line 319, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header h1 {
      display: none; }
    /* line 322, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header .search .glyphicon {
      padding: 7px; }
    /* line 324, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header .search .search-lieu {
      margin-left: 35px; } }

/* line 328, /var/www/html/soixantehuit/sass/68.sass */
#timeline, #recherche {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 78vh;
  width: 49%;
  text-align: left !important; }

/* line 335, /var/www/html/soixantehuit/sass/68.sass */
#timeline {
  position: relative;
  top: 4px; }

/* line 338, /var/www/html/soixantehuit/sass/68.sass */
#recherche {
  padding-top: 4px; }

/* line 341, /var/www/html/soixantehuit/sass/68.sass */
.details {
  padding: 15px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500; }
  /* line 346, /var/www/html/soixantehuit/sass/68.sass */
  .details h1 {
    font-size: 43px;
    font-weight: 700; }
  /* line 349, /var/www/html/soixantehuit/sass/68.sass */
  .details h2 {
    font-size: 36px;
    line-height: 43.2px; }
  /* line 352, /var/www/html/soixantehuit/sass/68.sass */
  .details h3 {
    font-size: 30px;
    line-height: 36px; }
  /* line 355, /var/www/html/soixantehuit/sass/68.sass */
  .details hr {
    width: 20%;
    margin-left: 0%; }
  /* line 358, /var/www/html/soixantehuit/sass/68.sass */
  .details .description {
    margin-bottom: 50px;
    overflow: hidden; }
    /* line 361, /var/www/html/soixantehuit/sass/68.sass */
    .details .description h2, .details .description h3, .details .description p {
      margin: 0 auto; }
  /* line 363, /var/www/html/soixantehuit/sass/68.sass */
  .details .col-6 {
    width: 48%;
    display: inline-grid;
    margin-bottom: 50px;
    padding-right: 20px; }
  /* line 368, /var/www/html/soixantehuit/sass/68.sass */
  .details a {
    color: inherit;
    text-decoration: dotted underline; }
    /* line 371, /var/www/html/soixantehuit/sass/68.sass */
    .details a:hover {
      text-decoration: underline; }
  /* line 373, /var/www/html/soixantehuit/sass/68.sass */
  .details .right {
    margin-bottom: 25px; }
    /* line 375, /var/www/html/soixantehuit/sass/68.sass */
    .details .right #site-officiel {
      text-decoration: none; }

/* line 378, /var/www/html/soixantehuit/sass/68.sass */
.evenement {
  display: inline-block;
  width: 42%;
  height: 315px;
  margin: 0 0 5% 5%;
  cursor: pointer;
  text-align: left; }
  /* line 385, /var/www/html/soixantehuit/sass/68.sass */
  .evenement .image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 390, /var/www/html/soixantehuit/sass/68.sass */
  .evenement .infos {
    width: 100%;
    height: 115px;
    display: inline-block;
    padding: 7px;
    overflow: ellipsis; }
    /* line 396, /var/www/html/soixantehuit/sass/68.sass */
    .evenement .infos * {
      margin: 0;
      overflow: hidden;
      height: 20px; }
    /* line 400, /var/www/html/soixantehuit/sass/68.sass */
    .evenement .infos h1 {
      font-size: 18px;
      line-height: 19.6px;
      height: 42px;
      font-weight: 600;
      white-space: initial; }
    /* line 406, /var/www/html/soixantehuit/sass/68.sass */
    .evenement .infos h2 {
      font-size: 14px;
      line-height: 18.8px;
      font-weight: 600; }
    /* line 410, /var/www/html/soixantehuit/sass/68.sass */
    .evenement .infos h3 {
      font-size: 14px;
      line-height: 18.8px;
      font-weight: 300; }
  /* line 414, /var/www/html/soixantehuit/sass/68.sass */
  .evenement:focus {
    -webkit-box-shadow: 0 0 0 4px black;
    box-shadow: 0 0 0 4px black;
    border-radius: 0; }

/* line 420, /var/www/html/soixantehuit/sass/68.sass */
.lieu49592631 {
  background: #ff2a00;
  color: white; }
  /* line 423, /var/www/html/soixantehuit/sass/68.sass */
  .lieu49592631 hr {
    border-color: white; }

/* line 427, /var/www/html/soixantehuit/sass/68.sass */
.lieu47774204 {
  background: #fff65e;
  color: black; }
  /* line 430, /var/www/html/soixantehuit/sass/68.sass */
  .lieu47774204 hr {
    border-color: black; }

/* line 434, /var/www/html/soixantehuit/sass/68.sass */
.lieu97092341 {
  background: #00ffff;
  color: black; }
  /* line 437, /var/www/html/soixantehuit/sass/68.sass */
  .lieu97092341 hr {
    border-color: black; }

/* line 441, /var/www/html/soixantehuit/sass/68.sass */
.lieu37250659 {
  background: #ffc6cf;
  color: black; }
  /* line 444, /var/www/html/soixantehuit/sass/68.sass */
  .lieu37250659 hr {
    border-color: black; }

/* line 448, /var/www/html/soixantehuit/sass/68.sass */
.lieu44057765 {
  background: #00e99d;
  color: white; }
  /* line 451, /var/www/html/soixantehuit/sass/68.sass */
  .lieu44057765 hr {
    border-color: white; }

/* line 455, /var/www/html/soixantehuit/sass/68.sass */
.lieu74030026 {
  background: #0048dd;
  color: white; }
  /* line 458, /var/www/html/soixantehuit/sass/68.sass */
  .lieu74030026 hr {
    border-color: white; }

/* line 462, /var/www/html/soixantehuit/sass/68.sass */
.lieu96612516 {
  background: #9783ff;
  color: black; }
  /* line 465, /var/www/html/soixantehuit/sass/68.sass */
  .lieu96612516 hr {
    border-color: black; }

/* line 469, /var/www/html/soixantehuit/sass/68.sass */
.lieu33873846 {
  background: #ff6000;
  color: white; }
  /* line 472, /var/www/html/soixantehuit/sass/68.sass */
  .lieu33873846 hr {
    border-color: white; }

/*# sourceMappingURL=68.css.map */