@import url(fix.css);
/* line 3, /var/www/html/soixantehuit/sass/68.sass */
body {
  font-family: 'Work Sans', sans-serif;
  color: black;
  width: 100vw;
  overflow-x: hidden; }

/* line 9, /var/www/html/soixantehuit/sass/68.sass */
::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

/* line 13, /var/www/html/soixantehuit/sass/68.sass */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); }

/* line 16, /var/www/html/soixantehuit/sass/68.sass */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); }

/* line 19, /var/www/html/soixantehuit/sass/68.sass */
.center {
  text-align: center; }

/* line 22, /var/www/html/soixantehuit/sass/68.sass */
.centerblock {
  margin: auto;
  display: block; }

/* line 26, /var/www/html/soixantehuit/sass/68.sass */
.bloc {
  min-height: 100vh; }

/* line 29, /var/www/html/soixantehuit/sass/68.sass */
.btn-blank {
  background: none;
  padding: 0;
  border: 0; }
  /* line 33, /var/www/html/soixantehuit/sass/68.sass */
  .btn-blank:focus {
    background: none;
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border-radius: 3px; }

/* line 41, /var/www/html/soixantehuit/sass/68.sass */
header {
  position: fixed;
  top: 4%;
  right: 4%; }
  /* line 45, /var/www/html/soixantehuit/sass/68.sass */
  header .btn {
    position: relative;
    padding: 0 1px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    border-radius: 0;
    border-bottom: dotted 1px black; }
    /* line 53, /var/www/html/soixantehuit/sass/68.sass */
    header .btn .header-background {
      background: rgba(26, 26, 26, 0.1);
      width: 100%;
      height: 20px;
      position: absolute;
      z-index: -1;
      top: 12px;
      right: 6px; }

/* line 62, /var/www/html/soixantehuit/sass/68.sass */
.edito {
  width: 100%;
  margin: 20vh auto 100px;
  padding: 40px;
  background: rgba(26, 26, 26, 0.1);
  font-weight: 500;
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw); }
  /* line 72, /var/www/html/soixantehuit/sass/68.sass */
  .edito h1 {
    margin: 50px 0;
    font-size: 100px;
    font-weight: 700; }
  /* line 76, /var/www/html/soixantehuit/sass/68.sass */
  .edito .langues {
    margin: 60px auto 0; }
  /* line 78, /var/www/html/soixantehuit/sass/68.sass */
  .edito a {
    color: black;
    font-size: 120%;
    margin: 10px;
    cursor: pointer; }

/* line 83, /var/www/html/soixantehuit/sass/68.sass */
.edito-open {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none; }

/* line 88, /var/www/html/soixantehuit/sass/68.sass */
.edito-transition {
  transition: all 500ms ease-in-out; }

/* line 92, /var/www/html/soixantehuit/sass/68.sass */
.scroll {
  cursor: pointer; }
  /* line 94, /var/www/html/soixantehuit/sass/68.sass */
  .scroll:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  /* line 97, /var/www/html/soixantehuit/sass/68.sass */
  .scroll .glyphicon {
    font-size: 50px; }

/* line 100, /var/www/html/soixantehuit/sass/68.sass */
.info-container {
  position: absolute;
  width: 100%;
  z-index: 100;
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw);
  background: red; }

/* line 109, /var/www/html/soixantehuit/sass/68.sass */
.info-open {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none; }

/* line 114, /var/www/html/soixantehuit/sass/68.sass */
.info-transition {
  transition: all 500ms ease-in-out; }

/* line 117, /var/www/html/soixantehuit/sass/68.sass */
#timeline, #recherche {
  display: inline-block;
  overflow-y: scroll;
  height: 78vh;
  width: 49.5%;
  text-align: left !important;
  margin: -2px; }

/* line 125, /var/www/html/soixantehuit/sass/68.sass */
.agenda-header {
  height: 200px;
  text-align: left; }
  /* line 128, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header h1 {
    display: inline-block;
    width: 35%;
    font-size: 70px;
    font-weight: 600;
    margin: 80px 4% 0; }
  /* line 134, /var/www/html/soixantehuit/sass/68.sass */
  .agenda-header .agenda-filtres {
    display: inline-block;
    float: right;
    margin: 120px 10% 0 0;
    font-size: 19.5px; }
    /* line 139, /var/www/html/soixantehuit/sass/68.sass */
    .agenda-header .agenda-filtres button {
      font-size: inherit;
      padding: 0 7px;
      vertical-align: bottom; }
      /* line 143, /var/www/html/soixantehuit/sass/68.sass */
      .agenda-header .agenda-filtres button:focus {
        -webkit-box-shadow: 0 0 1px;
        box-shadow: 0 0 1px; }
      /* line 146, /var/www/html/soixantehuit/sass/68.sass */
      .agenda-header .agenda-filtres button .glyphicon {
        font-size: 15px; }

/* line 149, /var/www/html/soixantehuit/sass/68.sass */
.details {
  padding: 15px; }
  /* line 151, /var/www/html/soixantehuit/sass/68.sass */
  .details h1 {
    font-size: 43px;
    font-weight: 700; }
  /* line 154, /var/www/html/soixantehuit/sass/68.sass */
  .details h2 {
    font-size: 36px;
    line-height: 43.2px; }
  /* line 157, /var/www/html/soixantehuit/sass/68.sass */
  .details h3 {
    font-size: 30px;
    line-height: 36px; }
  /* line 160, /var/www/html/soixantehuit/sass/68.sass */
  .details p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500; }
  /* line 164, /var/www/html/soixantehuit/sass/68.sass */
  .details hr {
    width: 20%;
    margin-left: 0%; }

/* line 168, /var/www/html/soixantehuit/sass/68.sass */
.evenement {
  display: inline-block;
  width: 42%;
  height: 315px;
  margin: 5% 0 0 3%;
  cursor: pointer;
  text-align: left; }
  /* line 175, /var/www/html/soixantehuit/sass/68.sass */
  .evenement .image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center; }
  /* line 180, /var/www/html/soixantehuit/sass/68.sass */
  .evenement .infos {
    width: 100%;
    height: 115px;
    display: inline-block;
    padding: 7px;
    overflow: ellipsis; }
    /* line 186, /var/www/html/soixantehuit/sass/68.sass */
    .evenement .infos * {
      margin: 0;
      overflow: hidden;
      height: 20px; }
    /* line 190, /var/www/html/soixantehuit/sass/68.sass */
    .evenement .infos h1 {
      font-size: 18px;
      line-height: 19.6px;
      height: 40px;
      font-weight: 600; }
    /* line 195, /var/www/html/soixantehuit/sass/68.sass */
    .evenement .infos h2 {
      font-size: 14px;
      line-height: 18.8px;
      font-weight: 600; }
    /* line 199, /var/www/html/soixantehuit/sass/68.sass */
    .evenement .infos h3 {
      font-size: 14px;
      line-height: 18.8px;
      font-weight: 300; }

/* line 206, /var/www/html/soixantehuit/sass/68.sass */
.lieu33873846 {
  background: #ff6000;
  color: white; }

/* line 211, /var/www/html/soixantehuit/sass/68.sass */
.lieu97092341 {
  background: #00ffff;
  color: white; }

/*# sourceMappingURL=68.css.map */