@import 'fix.css'

body 
    font-family: 'Work Sans', sans-serif
    color: black
    width: 100vw
    overflow-x: hidden
    
::-webkit-scrollbar
  width: 10px
  height: 10px

::-webkit-scrollbar-track
  background: rgba(255, 255, 255, 0)

::-webkit-scrollbar-thumb
  background: rgba(255, 255, 255, 0.5)

.center 
    text-align: center

.centerblock 
    margin: auto
    display: block

.bloc 
    min-height: 100vh

.btn-blank
    background: none
    padding: 0
    border: 0
    &:focus
        background: none
        -webkit-box-shadow: 0 0 10px
        box-shadow: 0 0 10px
        border-radius: 3px
.right
    width: 100%
    text-align: right

//=========================================

header
    position: fixed
    top: 4%
    right: 4%
    z-index: 10
    .btn
        position: relative
        padding: 0 1px
        font-size: 18px
        font-weight: 600
        margin-left: 30px
        border-radius: 0
        border-bottom: dotted 1px black
        .header-background
            background: rgba(26, 26, 26, 0.1)
            width: 100%
            height: 20px
            position: absolute
            z-index: -1
            top: 12px
            right: 6px
            
@media (max-width:850px)
    header 
        top: 2%
        right: 2%
        .btn
            font-size: 15px
    
            
.carte, .modules
    display: table
    position: absolute
    height: 100%
    width: 100%
    z-index: -1
    opacity: 1
    -webkit-transform: translateY(0)
    -moz-transform: translateY(0)
    -ms-transform: translateY(0)
    transform: translateY(0)
    .vertical
        display: table-cell
        vertical-align: middle
        text-align: center
        .container
            position: relative
            top: -100vh
    svg
        margin: auto
        max-height: 100vh
        transition: opacity 1000ms ease-in-out
.carte-label
    margin: auto
    width: 75%
    height: 800px
    opacity: 0.6
.carte-lieu
    position: relative
    font-size: 25px
    width: 150px
    z-index: 20
    text-align: left
.carte-nanterre
    top: 8% 
    left: 16%
.carte-amandiers
    top: 22%
    left: 4%
.carte-archi
    top: 16%
    left: 18%
.carte-beauxarts
    left: 40%
    top: 21%
.carte-pompidou
    left: 55%
    top: -2%
.carte-archives
    top: -13%
    left: 73%
.carte-bnf
    left: 60%
    top: 15%
.carte-cinematheque
    left: 80%
    top: -8%
    
    
.modules
    -webkit-transform: translateY(100vh)
    -moz-transform: translateY(100vh)
    -ms-transform: translateY(100vh)
    transform: translateY(100vh)
//    transition: all 1000ms ease-in-out
    

.edito 
    width: 90%
    margin: 20vh auto 100px
    padding: 40px
    background: rgba(26,26,26,0.1)
    font-weight: 500
    z-index: 100
    h1 
        margin: 50px 0
        font-size: 100px
        font-weight: 700
    .langues 
        margin: 60px auto 0
    a 
        color: black
        font-size: 120%
        margin: 10px
        cursor: pointer

.scroll
    cursor: pointer
    &:focus
        -webkit-box-shadow: none
        box-shadow: none
    .glyphicon 
        font-size: 50px

.info-container
    position: absolute
    width: 100%
    z-index: 100
    -webkit-transform: translateX(-100vw)
    -moz-transform: translateX(-100vw)
    -ms-transform: translateX(-100vw)
    transform: translateX(-100vw)
    background: red
.info-open
    -webkit-transform: none
    -moz-transform: none
    -ms-transform: none
    transform: none
.info-transition
    transition: all 500ms ease-in-out

#agenda
    background: white
.agenda-header 
    height: 200px
    text-align: left
    h1
        display: inline-block
        width: 35%
        font-size: 70px
        font-weight: 600
        margin: 80px 4% 0
    .agenda-filtres
        display: inline-block
        float: right
        margin: 120px 5% 0 0
        font-size: 19.5px
        button
            font-size: inherit
            padding: 0 7px
            vertical-align: bottom
            &:focus
                -webkit-box-shadow: 0 0 1px
                box-shadow: 0 0 1px
            .glyphicon
                font-size: 15px
    .popover, .popover-content 
        padding: 0
        border: none
        border-radius: 4px
        font-family: inherit
        -webkit-box-shadow: 0 5px 20px 1px black
        box-shadow: 0 5px 20px 1px black
        .list-group
            margin: 0
        .list-group-item
            border: 0
            padding: 7px 15px
            font-weight: 500
            font-size: 17px
            cursor: pointer
        .list-categorie li
            background: black
            color: white
    .search
        height: 30px
        color: white
        display: inline-block
        .glyphicon
            padding: 5px
    .search-lieu
        width: 90px
        margin: 5px 0 0 75px
    .search-date
        width: 85px
        color: white
    .search-categorie
        width: 125px
        color: white
        
            
.hide-lieu
    display: none !important
        
@media (max-width:850px)
    .agenda-header
        height: 160px
        .agenda-filtres
            font-size: 15px
            margin-top: 85px
        h1
            display: none
        .search
            .glyphicon
                padding: 7px
            .search-lieu
                margin-left: 35px  
      

#timeline, #recherche
    display: inline-block
    overflow-x: hidden
    overflow-y: scroll
    height: 78vh
    width: 49%
    text-align: left !important
#timeline
    position: relative
    top: 4px
#recherche
    padding-top: 4px
  
.details
    padding: 15px
    font-size: 18px
    line-height: 24px
    font-weight: 500
    h1
        font-size: 43px
        font-weight: 700
    h2
        font-size: 36px
        line-height: 43.2px
    h3
        font-size: 30px
        line-height: 36px
    hr
        width: 20%
        margin-left: 0%
    .description
        margin-bottom: 50px
        overflow: hidden
        h2, h3, p
            margin: 0 auto
    .col-6
        width: 48%
        display: inline-grid
        margin-bottom: 50px
        padding-right: 20px
    a
        color: inherit
        text-decoration: dotted underline
        &:hover
            text-decoration: underline
    .right
        margin-bottom: 25px;
        #site-officiel
            text-decoration: none
        
.evenement
    display: inline-block
    width: 42%
    height: 315px
    margin: 0 0 5% 5%
    cursor: pointer
    text-align: left
    .image
        width: 100%
        height: 200px
        background-size: cover
        background-position: center
    .infos
        width: 100%
        height: 115px
        display: inline-block
        padding: 7px
        overflow: ellipsis
        *
            margin: 0
            overflow: hidden
            height: 20px
        h1
            font-size: 18px
            line-height: 19.6px
            height: 42px
            font-weight: 600
            white-space: initial
        h2
            font-size: 14px
            line-height: 18.8px
            font-weight: 600
        h3
            font-size: 14px
            line-height: 18.8px
            font-weight: 300
    &:focus
        -webkit-box-shadow: 0 0 0 4px black
        box-shadow: 0 0 0 4px black
        border-radius: 0

// Paris Nanterre
.lieu49592631
    background: #ff2a00
    color: white
    hr
        border-color: white

// Amandiers
.lieu47774204
    background: #fff65e
    color: black
    hr
        border-color: black
    
//Cite de l'archi
.lieu97092341
    background: #00ffff
    color: black
    hr
        border-color: black

// Beaux Arts
.lieu37250659
    background: #ffc6cf
    color: black
    hr
        border-color: black

// Pompidou
.lieu44057765
    background: #00e99d
    color: white
    hr
        border-color: white

// Archives
.lieu74030026
    background: #0048dd
    color: white
    hr
        border-color: white

// BNF
.lieu96612516
    background: #9783ff
    color: black
    hr
        border-color: black

// Cinematheque
.lieu33873846
    background: #ff6000
    color: white
    hr
        border-color: white
