@import 'fix.css'

html, body
    font-family: 'Work Sans', sans-serif
    color: black
    width: 100%
    max-width: 100%
    
::-webkit-scrollbar
    width: 10px
    height: 10px

::-webkit-scrollbar-track
    background: rgba(255, 255, 255, 0.8)

::-webkit-scrollbar-thumb
    background: rgba(0, 0, 0, 0.1)

::-webkit-input-placeholder
    color: black
    opacity: 1
::-moz-placeholder
    color: black
    opacity: 1
:-ms-input-placeholder
    color: black
    opacity: 1
:-moz-placeholder
    color: black
    opacity: 1
::placeholder-shown
    color: black
    opacity: 1

.center 
    text-align: center

.centerblock 
    margin: auto
    display: block

.bloc 
    min-height: 100vh

.btn-blank
    background: none
    padding: 0
    border: 0
    &:focus
        background: none
        -webkit-box-shadow: 0 0 10px
        box-shadow: 0 0 10px
        border-radius: 3px
.right
    width: 100%
    text-align: right

//==================== Header =====================

header
    position: fixed
    top: 0
    right: 0
    background: white
    z-index: 100
    height: 90px
    width: 400px
    border-bottom-left-radius: 55px
    .btn
        position: relative
        padding: 0 1px
        font-size: 22px
        font-weight: 600
        margin: 25px 0 0 45px
        border-radius: 0
        border-bottom: dotted 1px black
        .header-background
            background: rgba(26, 26, 26, 0.1)
            width: 100%
            height: 20px
            position: absolute
            z-index: -1
            top: 12px
            right: 6px
            
@media (max-width:850px)
    header
        height: 65px
        width: 100.1%
        border-bottom-left-radius: 0
        .btn
            font-size: 19px
            width: 28%
            margin-left: 3%
            border-bottom: none !important
            margin-top: 18px

//==================== Edito =====================    

.edito 
    width: 90%
    margin: 90px auto 3.5%
    padding: 40px 100px
    background: rgba(26,26,26,0.1)
    font-weight: 500
    z-index: 100
    font-size: 20px
    h1 
        margin: 50px 0
        font-size: 75px
        font-weight: 700
    .langues 
        margin: 60px auto 0
    a 
        color: black
        font-size: 120%
        margin: 10px
        cursor: pointer
@media (max-width:850px)
    .edito
        padding: 25px
        width: 95%
        h1
            font-size: 40px
            margin: 20px auto
            
.scroll
    cursor: pointer
    &:focus
        -webkit-box-shadow: none
        box-shadow: none
    .glyphicon 
        font-size: 50px

//==================== Carte =====================    
            
.carte, .modules, .labels
    display: table
    position: absolute
    height: 100%
    width: 100%
    z-index: -1
    opacity: 1
    -webkit-transform: translateY(0)
    -moz-transform: translateY(0)
    -ms-transform: translateY(0)
    transform: translateY(0)
    .vertical
        display: table-cell
        vertical-align: middle
        text-align: center
        .container
            position: relative
            top: -100vh
    svg
        margin: auto
        max-height: 100vh
        transition: opacity 3000ms ease-in-out

.points
    opacity: 0.5
.carte-label
    margin: auto
    width: 75%
    max-width: 114vh
    height: 62vw
    max-height: 100vh
    opacity: 0
    position: relative
    transition: opacity 1500ms ease-in-out
.carte-lieu
    position: absolute
    font-size: 23px
    width: 10px
    z-index: 20
    text-align: left
    font-weight: 500
.carte-nanterre
    top: 18% 
    left: 12%
.carte-amandiers
    top: 37%
    left: 2%
.carte-archi
    top: 42%
    left: 17%
.carte-beauxarts
    left: 40%
    bottom: 40%
.carte-pompidou
    left: 53%
    top: 42%
.carte-archives
    top: 45%
    left: 70%
.carte-bnf
    left: 65%
    bottom: 13%
.carte-cinematheque
    left: 85%
    bottom: 28%
@media (max-width:1470px)
    .carte-lieu
        font-size: 1.5vw
    
.modules-click 
    z-index: 10
    .module
        fill: transparent
.module
    -webkit-transform: translateY(-150vh)
    -moz-transform: translateY(-150vh)
    -ms-transform: translateY(-150vh)
    transform: translateY(-150vh)
    transition: transform 1500ms ease-in-out
    cursor: pointer
    
@media (max-width:850px)
    .carte svg
        opacity: 0 !important
    .module
        -webkit-transform: none
        -moz-transform: none
        -ms-transform: none
        transform: none
        transition: none
        
//==================== Infos =====================


.info-container
    position: fixed
    top: 0
    left: 0
    bottom: 0
    height: 100%
    width: 100%
    z-index: 101
    -webkit-transform: translateX(-100%)
    -moz-transform: translateX(-100%)
    -ms-transform: translateX(-100%)
    transform: translateX(-100%)
    background: white
    overflow-x: hidden
    .close-info 
        font-size: 65px
        margin: 40px 30px
        float: left
        cursor: pointer
    .info-sidebar
        min-height: 100vh
        .info-lieu
            display: block
            position: absolute
            left: 12vw
            bottom: -4vh
            width: 80vh
            font-size: 80px
            -webkit-transform: rotate(-90deg)
            -moz-transform: rotate(-90deg)
            -o-transform: rotate(-90deg)
            -ms-transform: rotate(-90deg)
            transform: rotate(-90deg)
            transform-origin: left
            line-height: 9vh
        #info-lieu-bnf
            font-size: 60px
        .info-bordureleft
            border-left: 3px dotted black
            width: 2px
            height: 90%
            position: absolute
            right: -1px
            top: 5%
    .info-midbar
        height: 100vh
        margin: -2px
        padding: 0 3%
        overflow-y: auto
        .info-bordureright
            border-left: 3px dotted black
            width: 2px
            height: 90%
            position: absolute
            left: 3px
            top: 5%
        .info-presentation
            font-size: 24px
            font-weight: 300
            margin: 5% auto
        .info-description
            font-size: 17px
            font-weight: 500
            .info-logo 
                img
                    position: relative
                    max-width: 80%
                    max-height: 200px
                    top: 27px
                    margin-bottom: 65px
                &:hover
                    text-decoration: none
            #logo-ministere
                max-width: 20%
                max-height: 200px
            #logo-archives
                margin-left: 5%
                max-width: 55%
                max-height: 150px
                vertical-align: bottom
            .info-rs 
                &:hover, &:active, &:focus
                    text-decoration: none
                img
                    margin: 10px
                    margin-bottom: 45px
                    height: 50px
                    width: 50px
    .info-programme
        font-size: 24px
        font-weight: 300
        margin: 5%
        .info-programmefond
            width: 155px
            height: 25px
            position: relative
            bottom: 19px
            right: 9px
            z-index: -1
    .info-agenda
        max-height: 75vh
        overflow-x: hidden
        overflow-y: auto
        margin-right: -10%
        margin-bottom: 75px
        .info-event
            padding-right: 5px
            b
                line-height: 35px
            span
                font-size: 17px
                font-weight: 500
            .info-eventdesc
                margin-top: 10px
    .info-goagenda
        font-size: 24px
        font-weight: 300
        position: absolute
        bottom: 3%
        right: 5%
        cursor: pointer
        text-align: center
        max-width: 90%
        height: 90px
        width: 400px
        padding: 25px
        .glyphicon
            font-size: 18px
            left: 6px

.info-open
    -webkit-transform: none
    -moz-transform: none
    -ms-transform: none
    transform: none
.info-transition
    transition: all 500ms ease-in-out
    
@media (max-width:850px)
    .info-container
        position: fixed
        top: 0
        left: 0
        bottom: 0
        min-height: 100%
        height: auto
        .info-sidebar, .info-midbar
            min-height: 150px
            height: auto
            max-width: 100%
            width: 100%
            margin-bottom: 40px
            .info-bordureleft, .info-bordureright
                display: none
            .close-info
                font-size: 45px
                margin: 0
                position: absolute
                top: 35%
                left: 3%
            .info-lieu
                position: absolute
                top: 22%
                left: 18%
                width: auto
                font-size: 32px !important
                line-height: 40px
                -webkit-transform: none
                -moz-transform: none
                -o-transform: none
                -ms-transform: none
                transform: none
                bottom: 0
            #info-lieu-bnf
                line-height: 35px
                top: 20px
            #info-lieu-archi
                font-size: 28px !important
            .info-agenda
                margin-right: 0
            .info-presentation, .info-goagenda
                font-size: 18px
            .info-description
                font-size: 15px
            .info-goagenda
                bottom: 0
                height: 70px
                
    
//==================== Agenda =====================    
    
#agenda
    background: white
    position: relative
    width: 100%
    overflow-x: hidden
.agenda-header 
    height: 210px
    text-align: left
    position: relative
    h1
        display: inline-block
        width: 35%
        font-size: 70px
        font-weight: 600
        margin: 80px 4% 0
    .agenda-filtres
        display: inline-block
        float: right
        margin: 120px 5% 0 0
        font-size: 19.5px
        text-align: right
        position: relative
        .glyphicon
            transition: transform 300ms ease-in-out
        button
            font-size: inherit
            padding: 0 7px
            vertical-align: bottom
            &:focus
                -webkit-box-shadow: 0 0 1px
                box-shadow: 0 0 1px
            .glyphicon
                font-size: 15px
        .col-sm-6
            width: 70px !important
            float: inherit
            padding: 0
            input
                width: 100%
                height: 28px
                position: relative
                bottom: 1px
                left: 10px
                font-size: 19.5px
                padding-right: 18px
                &:focus
                    -webkit-box-shadow: 0 0 1px
                    box-shadow: 0 0 1px
            #glyphicon
                position: absolute
                top: 8px
                right: -5px
                font-size: 15px
                transition: transform 300ms ease-in-out
    .popover, .popover-content 
        padding: 0
        border: none
        border-radius: 4px
        font-family: inherit
        .list-group
            margin: 0
        .list-group-item
            border: 0
            padding: 7px 15px
            font-weight: 500
            font-size: 17px
            cursor: pointer
        .list-categorie li
            background: white
            color: black
            &:hover
                background: rgba(26, 26, 26, 0.1)
    .search
        height: 35px
        display: inline-block
        text-align: left
        float: right
        position: absolute
        bottom: -40px
        .glyphicon
            padding: 5px
            top: 3px
    .search-categorie
        width: 170px
        color: white
        left: 0
    .search-lieu
        width: 85px
        left: 50%
    .search-date
        width: 90px
        color: white
        right: -10px
        
            
.hide-lieu, .hide-categorie, .hide-date
    display: none !important
        
@media (max-width:850px)
    .agenda-header
        height: 180px
        .agenda-filtres
            font-size: 15px
            margin: 75px 5% 0
            height: 50px
            .col-sm-6            
                input
                    font-size: 15px
                    height: 21px
                #glyphicon
                    top: 3px
                    right: -3px
        h1
            display: none
        .search
            height: 30px
            bottom: -10px
            .glyphicon
                padding: 7px
        .search-categorie
            width: 140px
        .search-lieu
            width: 60px


#timeline, #recherche
    overflow-x: hidden
    overflow-y: scroll
    height: 78vh
    width: 50%
    text-align: left !important
    position: absolute
#timeline
    top: 22vh
    left: 0
#recherche
    top: 22vh
    right: 0
    padding-top: 4px
    background: white
#show-timeline, #show-recherche
    display: none
@media (max-width:850px)
    #timeline, #recherche
        position: absolute
        height: 73vh
        width: 90%
        top: 27vh
        transition: all 100ms ease-in-out
    #timeline
        cursor: pointer
    #recherche
        right: 0
    #show-timeline, #show-recherche
        display: block
        position: absolute
        top: -1px
        background: white
        height: 9vw
        width: 9vw
        font-size: 5vw
    #show-timeline
        left: 1vw
        border-bottom-left-radius: 100%
        text-align: right
    #show-recherche
        display: none
        left: 
        border-bottom-right-radius: 100%
        

        
.details
    padding: 2.7%
    padding-right: 4%
    font-size: 18px
    line-height: 24px
    font-weight: 500
    width: 100%
    h1
        font-size: 43px
        font-weight: 700
    h2
        font-size: 36px
        line-height: 43.2px
    h3
        font-size: 30px
        line-height: 36px
    hr
        width: 20%
        margin-left: 0%
    .description
        margin-bottom: 50px
        overflow: hidden
        letter-spacing: 0.1px
        h2, h3, p
            margin: 15px auto
    .col-6
        width: 48%
        display: inline-grid
        margin-bottom: 50px
        padding-right: 20px
    a
        color: inherit
        text-decoration: dotted underline
        &:hover
            text-decoration: underline
    .right
        margin-bottom: 25px
        #site-officiel
            text-decoration: none
@media (max-width:850px)
    .details .col-6
        width: 100%
        
.evenement
    display: inline-block
    width: 42%
    height: 315px
    margin: 0 0 5% 5%
    cursor: pointer
    text-align: left
    .image
        width: 100%
        height: 200px
        background-size: cover
        background-position: center
    .infos
        width: 100%
        height: 115px
        display: inline-block
        padding: 7px
        overflow: ellipsis
        *
            margin: 0
            overflow: hidden
            height: 20px
        h1
            font-size: 18px
            line-height: 19.6px
            height: 40px
            font-weight: 600
            white-space: initial
        h2
            font-size: 14px
            line-height: 18.8px
            font-weight: 600
        h3
            font-size: 14px
            line-height: 18.8px
            font-weight: 300
    &:focus
        -webkit-box-shadow: 0 0 0 3px black
        box-shadow: 0 0 0 3px black
        border-radius: 0
    
footer
    position: relative
    background: #424242
    color: white
    height: 120px
    .col-xs-4
        height: 90px
        font-size: 18px
        padding: 25px
        a, a:hover
            color: white
    .scroll-footer
        position: absolute
        background: #424242
        top: -50px
        right: 30px
        height: 51px
        width: 100px
        border-top-left-radius: 50px
        border-top-right-radius: 50px
        font-size: 40px
        padding: 5px
        cursor: pointer
    .modal
        color: black
        text-align: left
    

// Paris Nanterre
.lieu49592631
    background: #ff2a00
    color: white
    hr
        border-color: white

// Amandiers
.lieu47774204
    background: #fff65e
    color: black
    hr
        border-color: black
    
//Cite de l'archi
.lieu97092341
    background: #00ffff
    color: black
    hr
        border-color: black

// Beaux Arts
.lieu37250659
    background: #ffc6cf
    color: black
    hr
        border-color: black

// Pompidou
.lieu44057765
    background: #00e99d
    color: white
    hr
        border-color: white

// Archives
.lieu74030026
    background: #0048dd
    color: white
    hr
        border-color: white

// BNF
.lieu96612516
    background: #9783ff
    color: black
    hr
        border-color: black

// Cinematheque
.lieu33873846
    background: #ff6000
    color: white
    hr
        border-color: white
//
//*
//    background: #000 !important
//    color: #0f0 !important
//    outline: solid #f00 1px !important