@import 'fix.css'

body 
    font-family: 'Work Sans', sans-serif
    color: black
    width: 100vw
    overflow-x: hidden
    
.center 
    text-align: center

.centerblock 
    margin: auto
    display: block

.bloc 
    min-height: 100vh

.edito 
    width: 600px
    max-width: 75vw
    margin: 20vh auto 100px
    padding: 40px
    h1 
        margin: 50px 0
        font-size: 4em
    .langues 
        margin: 60px auto 0
    a 
        color: black
        font-size: 120%
        margin: 10px


.scroll .glyphicon 
    font-size: 50px

#carte
    background: pink

.info-container
    position: absolute
    width: 100%
    z-index: 100
    transform: translateX(-100%)
    background: red
.info-open
    transform: none
.info-transition
    transition: all 500ms ease-in-out
    
#timeline
    overflow: scroll
    height: 85vh
    text-align: left !important
